body {
  background-color: #000000; /* Black */
  color: #FFFFFF; /* White */
  body {
    background-color: #000000; /* Black */
    color: #FFFFFF; /* White */
    font-family: 'Pirate One', cursive;
  }
  
  h1 {
    color: #FFD700; /* Gold */
  }
  
  #peer-id {
    color: #FFD700; /* Gold */
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    color: #FFD700; /* Gold */
  }
  
  input[type="text"] {
    color: #000000; /* Black */
    background-color: #FFFFFF; /* White */
    border: 2px solid #FFD700; /* Gold */
  }
  
  button {
    background-color: #FF0000; /* Red */
    color: #FFFFFF; /* White */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #chat-box {
    background-color: #FFFFFF; /* White */
    color: #000000; /* Black */
    padding: 10px;
    font-family: 'MedievalSharp', cursive;
  }
  
  .sent-message {
    color: #FF0000; /* Red */
  }}

h1 {
  color: #FFD700; /* Gold */
}

#peer-id {
  color: #FFD700; /* Gold */
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  color: #FFD700; /* Gold */
}

input[type="text"] {
  color: #000000; /* Black */
  background-color: #FFFFFF; /* White */
  border: 2px solid #FFD700; /* Gold */
}

button {
  background-color: #FF0000; /* Red */
  color: #FFFFFF; /* White */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#chat-box {
  background-color: #FFFFFF; /* White */
  color: #000000; /* Black */
  padding: 10px;
}

.sent-message {
  color: #FF0000; /* Red */
}