body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
}

#chat-and-button-container {
  display: flex;
  justify-content: space-between;
}

#chat-box {
  flex: 3; /* This will take 3/4 of the space */
  width: 80%;
  height: 300px;
  overflow: auto;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  display: none;
}

#start-game {
  flex: .1; /* This will take 1/4 of the space */
  margin: auto;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Same padding as form button */
  border-radius: 5px; /* Same border-radius as form button */
  font-size: 1.5em;
}

#start-game:enabled:hover {
  background-color: green;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}
#peer-id {
  user-select: none;
}
.sent-message {
  color: blue;
}